<!DOCTYPE html>
<html lang="en">
<head>
  {% load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Case Evidence Form</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.1/web3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="{% static 'evidence/css/style.css' %}">
</head>
<style>
  .container{
    width: 50% !important;
  } 
</style>
<body>
  {% include 'nav.html' %}

  
  
  <!-- Page Title for Adding Evidence -->
  
  <div style="margin-top:100px;" class="container">
    <h2 style="color: #4B89BE">Case Evidence Form</h2>
    <form id="evidenceForm" method="POST" enctype="multipart/form-data">
      <!-- Evidence Details Section -->
      {% csrf_token %}

      <p id="error-message" style="color: red; display: none;">All fields must be filled, and evidence must be uploaded before submission!</p>

      
      <label for="name">Name of the Person:</label>
      <input type="text" id="name" name="name" required>

      <label for="crime">Crime Name:</label>
      <input type="text" id="crime" name="crime" required>

      <label for="nationality">Nationality:</label>
      <input type="text" id="nationality" name="nationality" required>

      <label for="nationalId">National ID Card Number:</label>
      <input type="text" id="nationalId" name="nationalId" required>

      <label for="description">Description of the Case:</label>
      <textarea id="description" class="description" name="description" rows="4" required></textarea>

      <!-- Evidence Files Section -->
      <label for="evidence">Upload Evidence (audio, video, pictures):</label>
      <input type="file" id="evidence" name="evidence" multiple accept="image/*,audio/*,video/*" required>

      <!-- Submit Button -->
      <button style="background-color: #4B89BE" type="submit" id="submitButton" .disabled>Submit</button>
      
    </form>
  </div>

  {% include 'footer.html' %}

  {% if alert_message %}
    <script>
        alert("{{ alert_message|escapejs }}");
    </script>
  {% endif %}


  <script src="{% static 'evidence/js/script.js' %}"></script>
  <script>
    let web3;

    const form = document.getElementById("evidenceForm");

    // Check if MetaMask is installed
    if (typeof window.ethereum !== 'undefined') {
      web3 = new Web3(window.ethereum);
    } else {
      alert('MetaMask is not installed!');
    }

    // Check if the wallet is already connected on page load
    window.addEventListener('load', async () => {
      if (window.ethereum) {
        try {
          const accounts = await window.ethereum.request({ method: 'eth_accounts' });
          
          // If there is at least one account, enable the submit button
          if (accounts.length > 0) {
            document.getElementById('submitButton').disabled = false;
            alert('MetaMask is already connected!');
          } else {
            alert('MetaMask is not connected. Please connect your wallet.');
          }
        } catch (error) {
          console.error('Error checking accounts:', error);
        }
      } else {
        console.error('MetaMask is not installed');
      }
    });



    form.addEventListener("submit", async function(event) {
      event.preventDefault(); 

      const formData = new FormData(form);

      try {
          // Send the data to Django using Fetch
          const response = await fetch('/save-to-ipfs/', {
              method: 'POST',
              body: formData,
          });

          if (response.ok) {
              const data = await response.json();
              const ipfsHash = data.ipfs_hash;  // Extract the IPFS hash from the response
              console.log("IPFS Hash:", ipfsHash);

              try {
                const accounts = await web3.eth.getAccounts();
                const senderAddress = accounts[0];
                const timestamp = Math.floor(Date.now() / 1000);
            
                // Send transaction to the blockchain
                const contractAddress = '0x1b94433e9ec8b33328d8b6a42334c3586b33257d'; 
                const contractABI = [
                  {
                    "anonymous": false,
                    "inputs": [
                      {
                        "indexed": false,
                        "internalType": "bytes32",
                        "name": "uniqueID",
                        "type": "bytes32"
                      },
                      {
                        "indexed": false,
                        "internalType": "string",
                        "name": "hashID",
                        "type": "string"
                      },
                      {
                        "indexed": true,
                        "internalType": "address",
                        "name": "userAddress",
                        "type": "address"
                      },
                      {
                        "indexed": false,
                        "internalType": "uint256",
                        "name": "timeStamp",
                        "type": "uint256"
                      }
                    ],
                    "name": "HashStored",
                    "type": "event"
                  },
                  {
                    "inputs": [
                      {
                        "internalType": "string",
                        "name": "hashID",
                        "type": "string"
                      }
                    ],
                    "name": "storeHash",
                    "outputs": [
                      {
                        "internalType": "bytes32",
                        "name": "",
                        "type": "bytes32"
                      }
                    ],
                    "stateMutability": "nonpayable",
                    "type": "function"
                  },
                  {
                    "inputs": [
                      {
                        "internalType": "bytes32",
                        "name": "uniqueID",
                        "type": "bytes32"
                      }
                    ],
                    "name": "getHashDetails",
                    "outputs": [
                      {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                      },
                      {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                      },
                      {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                      }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                  },
                  {
                    "inputs": [
                      {
                        "internalType": "bytes32",
                        "name": "",
                        "type": "bytes32"
                      }
                    ],
                    "name": "hashRecords",
                    "outputs": [
                      {
                        "internalType": "string",
                        "name": "hashID",
                        "type": "string"
                      },
                      {
                        "internalType": "address",
                        "name": "userAddress",
                        "type": "address"
                      },
                      {
                        "internalType": "uint256",
                        "name": "timeStamp",
                        "type": "uint256"
                      }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                  },
                  {
                    "inputs": [],
                    "name": "idCounter",
                    "outputs": [
                      {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                      }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                  }
                ]
            
                const contract = new web3.eth.Contract(contractABI, contractAddress);
            
                const tx = await contract.methods.storeHash(ipfsHash,senderAddress, timestamp).send({ from: senderAddress });

                const txHash = tx.transactionHash;
                alert(`Transaction successful! Transaction Hash: ${txHash}`);
            
              } catch (error) {
                console.error('Error processing the submission:', error);
                alert('Failed to submit evidence. Check the console for more details.');
              }

          } else {
              const errorMessage = await response.text();
              alert(`Failed to save evidence: ${errorMessage}`);
          }
      } catch (error) {
          alert(`An error occurred: ${error.message}`);
      }

      



  });

  </script>

</body>
</html>
