<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Landing Page</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'evidence/css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'evidence/css/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'evidence/css/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'evidence/css/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'evidence/css/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'evidence/css/main.css' %}" rel="stylesheet">

</head>

<body class="index-page">

  {% include 'nav.html' %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>"Securing Justice, One Block at a Time."</h1>
            <p> A cutting-edge blockchain technology to ensure the integrity, transparency, and security of evidence in criminal cases. From collection to courtroom, we provide a tamper-proof solution that empowers justice and protects truth.</p>
            <div class="d-flex flex-column flex-md-row">
              <a href="javascript:void(0);" class="btn-get-started" onclick="loginWithWallet()">Get Started<i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="{% static 'evidence/img/hero-img.png' %}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
  </main>

  {% include 'footer.html' %}


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

  <script src="{% static 'evidence/css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'evidence/css/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'evidence/css/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'evidence/css/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'evidence/css/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'evidence/css/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'evidence/css/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'evidence/css/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <script src="{% static 'evidence/js/main.js' %}"></script>

</body>
</html>